body{
        overflow-x: hidden;
}
#button-addon2,
#searchbtn,
#pakistan{
        border:1px solid;
        border-radius: 5px;
        height: 45px !important;
        background-color: #ffffff;
}
.onMobile{
        display: none;
}
#searchbox {
        height: 40px !important;
        outline: none !important;
        background: none !important;
        background-color: #ffffff;
}
                    
.noShadow {
        box-shadow: none !important;
       
}
#button-addon2 {
        background-color: #002f34;
        fill: #ffffff;
        
}
.svgWhite {
        filter: brightness(0) invert(1);

}
#searchbtn {
        width: 650px;
}
#searchbox::-webkit-input-placeholder {
        color: #002f34;
        font-size: 17px;
}
#searchbtn::-webkit-input-placeholder {
        
        font-size: 17px;
}
input:focus{
      
        border-color: aqua !important;
}
.logo {
        filter: invert(13%) sepia(57%) saturate(1465%) hue-rotate(150deg) brightness(98%) contrast(107%);
}
.login{
        color:#002f34 ;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        margin: -13px -18px 0px 0px;
        border-bottom: 2px solid #002f34;
}
.login:hover{
        color: #002f34 ;
        border: none;
}

.sell-btn {
        padding: 5px 20px 5px 20px;
        margin-top: 0px
    }
    
    ul{
            list-style: none;
            margin-left: -5px;
    }
    .sell {
        /* padding: 8px 20px; */
        border: 5px solid;
        border-color: cyan blue blue yellow;
        color: #002f34;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0px 3px 5px #a9a9a9;
        font-size: 16px;
        font-weight: bold;
        font-family: Roboto , BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    .vertical-menu,
    .mobileFooter,
    .mobileCopyright {
            /* display: none; */
            visibility: hidden;
    }

    
    @media screen and (max-width: 767px) {
           
            .logo{
                    margin-left: 75px;
            }
           
                      #pakistan{
                    display: block;
                    width: 100%;
            }
            .onMobile{
                    display: block;
                    color: #002f34;
                    font-size: 22px;
                    line-height: 40px;
            }
            .fa-mobile,.fa-car , .fa-building , .fa-bullhorn{
                    padding-right: 10px;
            }
            .bg-hero{
                    margin-top: 60px;
            }
             .secondnav {
                     display: none;
             }
             footer , .copyright{
                     display: none;
             }
             .footer{
                     display: none;
             }

             .navitem2  .sell { 
                     display: none;
             }

             .login {
                     display: none;
             }
                 .mobileCopyright {
                         visibility: visible;
                         color: white;
                         padding: 1px;
                         background-color: rgb(0, 47, 52);
                         text-align: center;
                         width: 100%;
                 }
                  .mobileLogos {
                          position: relative;
                          float: right;
                          top: -40px;
                  }

                  .mobileLogos img {
                          width: 1.5em;
                          margin-top: 6px;
                  }

                  .mobileFooter {
                          visibility: visible;
                          padding: 10px;
                          align-items: center;
                          text-align: center;
                          width: 50%;
                          margin: auto;
                  }

             .vertical-menu {
                     visibility: visible !important ;
                     width: 100% !important;
                     border-top: 1px solid rgba(0, 0, 0, 0.411);
                     /* Set a width if you like */
             }

             .vertical-menu a {
                     background-color: white;
                     /* Grey background color */
                     border-bottom: 1px solid rgba(0, 0, 0, 0.411);
                     color: black;
                     /* Black text color */
                     display: block;
                     /* Make the links appear below each other */
                     padding: 12px;
                     /* Add some padding */
                     text-decoration: none;
                     /* Remove underline from links */
             }

             .vertical-menu .greater::after {
                     /* content: url('IMG/greatr.png'); */
                     content: '>' !important;
                     font-size: 1.9em !important;
                     margin-top: -7px !important;
                     float: right !important;
             }

             .vertical-menu a:hover {
                     background-color: rgb(185, 185, 185);
                     /* Dark grey background on mouse-over */
             }

        .login
        .navitem2 .sell-btn {
            display: hidden;
        }
        #pakistan{
                margin: 10px auto 2px auto; 
        }
      
        #searchbtn{
               width: 78%;
        }
        .ghyb{
                display: none;
        }
    }



    /* Dropdown icon */ 


    .padd-left:after{
         content: url(image/heart-shape-outline.svg);
         right: 11px;
         font-size: 10px;
         top: -41px;
         padding: 15px 0px 0px 8px;
         position: absolute;
    }

 /* @media (min-width: 769px) {
         .paddings{
                 padding-left: 1rem !important ;
                 color: #002f34 !important;
                 font-weight: 200;
                 font-weight: 400  !important;
                 font-size: 14px !important;
         }
         .paddings:hover{
                 color: #53809e !important;
         }
 } */

/* Second Nav dropdown */
 .dropbtn {
         /* background-color: #4CAF50; */
         
         color: #002f34;
         background-color: transparent;
         font-weight: bold;
         /* margin-left: 84px; */
         /* padding: 16px; */
         font-size: 16px;
         border: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropD {
         /* position: relative; */
         display: inline;
 }

 .dropbtn::after {
         position: relative;
         content: url(image/dropicon.svg);
         top: 7px;
         left: 7px;

 }


 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
         display: none;
         position: absolute;
         background-color: #ffffff;
         width: 90%;
         height: auto;
         margin: 34px 0px 0px -166px;

         /* min-width: 160px; */
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
         z-index: 1;
 }

 .dropdown-content ul {
         padding: 25px 82px 0px 66px;
         ;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
         color: #002f34;
         padding: 12px 16px;
         text-decoration: none;
         /* display: inline; */
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
         background-color: #ddd;
 }

 /* Show the dropdown menu on hover */
 .dropD:hover .dropdown-content {
         display: inline-flex;
         flex-wrap: wrap;
 }

 .dropdown-content li {
         display: block;
 }

/* Hero section */
.bg-hero {
        width: 100%;
}


 .rightBorder {
         all: unset;
         border-right: 2px solid rgb(216, 222, 224);
         padding-right: 35px;
         color: #002f34;
 }
 .rightBorder h1{
         font-weight: bolder;
 }

 .ms-5{
         margin-left: 8rem !important;
 }

 .app{
         color: #002f34;
         font-weight: bold ;
 }

 .lFooter{
         font-size: 12px;
 }

 footer{
         border-top: 1px solid #002f3436;
 }

 .lFooter li{
         margin-left: 57px;
         line-height: 28px;
       color: rgb(59, 59, 59);

 }

 footer h4{
         font-size: 14px !important;
 }

 .copyright , .copyright a {
         font-size: 12px;
         color: white;
 }

 .copyright p {
         margin-left: 41rem;
 }

 .copyright a{
         text-decoration: none;
 }

 .add{
        margin: 0 auto;
        width: 100%;
 }

 .blue { 
         border-radius: 5px;
         padding: 10px;
         text-align: center;
         background-color: royalblue;
         white-space: wrap !important;
         text-overflow: ellipsis;
         color: white;
 }

 .blue button {
         border: 2px solid white;
         border-radius: 5px;
         padding: 10px;
         font-weight: bolder;
         color: white;
         background: none;
         width: 95%;
 }

 .blueCenter {
         text-align: center !important;
         color: white !important;
         padding-bottom: 70px;

 }

 footer ul {
         display: inline-block;
         vertical-align: top;
 }

 .secondnav{
             margin-top: 79px;
 }

.navmobile #togglericon{
            visibility: hidden;

}


.navbar-toggler{
        margin: -63px 436px 1px 3px
}
 

 .navmobile{
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
             /* height: var(--navbar-height); */
             /* background-color: var(--navbar-background-color); */
             /* font-family: var(--navbar-font-family); */
             z-index: 9999;
 }

.selectdiv:after {
        content: url(image/dropicon.svg);
        right: 13px;
        top: -5px;
        padding: 15px 0px 0px 8px;
        position: absolute;

}